In [1]:
print("hi all \t stay home \n stay happy")

hi all 	 stay home
 stay happy

In [2]:
print("hi all  \n stay happy")

hi all
 stay happy

In [3]:
print("hi all \t stay happy")

hi all 	 stay happy

In [5]:
print("hi all\n stay happy")

hi all
 stay happy

# organising a list

In [ ]:
i want to organize in alphabetical order

In [7]:
funtime=['sai','sunny','vinay','amma','nana','priya','harsha','praba']

In [8]:
print(funtime)

['sai', 'sunny', 'vinay', 'amma', 'nana', 'priya', 'harsha', 'praba']

In [9]:
funtime.sort()

In [10]:
print(funtime)

['amma', 'harsha', 'nana', 'praba', 'priya', 'sai', 'sunny', 'vinay']

In [11]:
funtime.reverse()

In [12]:
print(funtime)

['vinay', 'sunny', 'sai', 'priya', 'praba', 'nana', 'harsha', 'amma']

In [13]:
len(funtime)

8

# copy of list

In [14]:
necktime=funtime[:]

In [15]:
print(necktime)

['vinay', 'sunny', 'sai', 'priya', 'praba', 'nana', 'harsha', 'amma']

In [16]:
##negative index

In [17]:
print(funtime)

['vinay', 'sunny', 'sai', 'priya', 'praba', 'nana', 'harsha', 'amma']

In [18]:
print(funtime[-3])

nana

In [19]:
print(funtime[-6].title())

Sai

In [20]:
##slicing of list--->grping

In [21]:
print(funtime[1:3])

['sunny', 'sai']

In [22]:
print(funtime[0:6])

['vinay', 'sunny', 'sai', 'priya', 'praba', 'nana']

In [23]:
##looping statements --->for loop

In [24]:
print(funtime)

['vinay', 'sunny', 'sai', 'priya', 'praba', 'nana', 'harsha', 'amma']

In [25]:
for x in funtime:
    print(x)

vinay
sunny
sai
priya
praba
nana
harsha
amma

In [26]:
print("hello my dear friends")

hello my dear friends

In [27]:
print("hello my dear friends")
for x in funtime:
    print(x)

hello my dear friends
vinay
sunny
sai
priya
praba
nana
harsha
amma

# introduction about tuple

In [29]:
tuple---collection of elements or items

SyntaxError: invalid syntax (<ipython-input-29-2f1b4dfd656a>, line 1)

In [30]:
list                                  Tuple
[]                                      ()
mutable datatype                     immutable datatype
[1,u,8.8]                              (1,2,3,4)
add
delete                                  we cant add new elements
update

SyntaxError: invalid syntax (<ipython-input-30-4bdb1b99baab>, line 1)

In [ ]:
s=['a', 'sri', '3', '4']

In [32]:
print(s)

['a', 'sri', '3', '4']

In [33]:
type(s)

list

In [ ]:
## create a tuple
### add elements or not
### update the elements
#### delete the elements
#### slicing

In [ ]:
### how to declare a tuple------------>()

In [ ]:
tuple_name=value

In [34]:
dimensions=(200,40)

In [35]:
print(dimensions)

(200, 40)

In [36]:
type(dimensions)

tuple

In [37]:
dimensions(1)=500

SyntaxError: cannot assign to function call (<ipython-input-37-584b2ea987e6>, line 1)

In [38]:
dimensions[1]=50

TypeError: 'tuple' object does not support item assignment

In [39]:
dimensions=(200,34,56,78,93)

In [40]:
print(dimensions)

(200, 34, 56, 78, 93)

In [41]:
print(dimensions[1])

34